*{ margin: 0%; padding: 0%; }

h1{
    padding: 3.6% 0 0 1%;
    margin: 0 0 2rem 7%;
    font-size: 2.6rem;
}

.review{
    width: 84%; height: 36%;
    background-color: aquamarine;
    margin: 0 0 3% 4%;
    p{
        font-size: 1.2rem;
    }
}

swiper-slide{
    height: 240px;
}

.card{
    margin-bottom: 50px;
    box-shadow: 0 30px 30px rgba(0,0,0,1);
    border-radius: 15px;
    height: 234px;
    width: 310px;
    position: relative;
    .text{
        position: absolute;
        padding: 15px;
    }
    img{
        border-radius: 15px;
        max-width: 100%;
        height: 100%;
    }
}