<h1>Hello I'm Danpier from Chile</h1>
<div class="review">
    <p>Highly motivated and professional Full Stack programmer with 2 years of experience providing high-level support
        to clients (principally in Spain). Proficient in managing APIS, Forms With C# FrameWorks, Scrum, and etc...</p>
</div>
<swiper-container pagination="false" effect="coverflow" grap-crusor="true" centered-slides="true" slides-per-view="3"
    coverflow-effect-rotate="0" coverflow-effect-stretch="0" coverflow-effect-depth="200" coverflow-effect-modifier="1"
    coverflow-effect-slide-shadows="false">
    <swiper-slide *ngFor="let image of pictures">
        <div class="card">
            <div class="text">
                <h3>Title</h3>
                <p>Lorem Ipsum Dolor Sir Amet</p>
            </div>
            <img [src]="image" alt="Mountain">
        </div>
    </swiper-slide>
</swiper-container>